body{scroll-behavior: smooth;transition: .4s all ease;-webkit-transition: .4s all ease;}
/*.h-auto{height: -webkit-fill-available !important;}*/
body, .page-wrapper, .frame{overflow-y: scroll;}
@media(min-width: 1200px){
	#brands{margin-top: -15%;}
}
@media(min-width: 760px) and (max-width:  1199px){
	#brands{margin-top: -85%;}
}